<div class="row">
  <% @courses.each do |course| %>

  <div class="col s6 m6">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">
          <%= course.short_name %> - <%= course.name %>
        </span>
        <p><%= course.description %></p>
      </div>
      <div class="card-action">
        <% if !current_student.courses.include?(course) %>
          <%= link_to "Enroll", enroll_course_path(course_id: course.id), method: :post %>
        <% else %>
          <span class="green white-text padding ">Enrolled</span>
        <% end %>
        <%= link_to "Info", course_path(course) %>
      </div>
    </div>
  </div>

  <% end %>
</div>
<br>

<%= link_to 'New Course', new_course_path %>
